.channel-index{
  position: fixed;
  left: 290px;
  height: calc(100vh - 37px);
  top: 37px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: lightgoldenrodyellow;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}