.channel-show{
  position: fixed;
  left: 300px;
  height: calc(100vh - 37px);
  top: 37px;
  border: 0px 1px 1px 1px solid gainsboro;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: lightgoldenrodyellow;
}

.channel-show > img{
  position: relative;
  width: 80%;
  height: 80%;
  z-index: -1;
}

.full{
  width: calc(100vw - 300px);
  box-sizing: border-box;
}
.part{
  width: calc(100vw - 330px - 300px);
  box-sizing: border-box;
}

.channel-show-header{
  position: relative;
  height: 66px;
  background-color: lightgoldenrodyellow;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 10px 17px;
  border-bottom: 1px solid lightblue;
}

.channel-show-header-information{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: .8rem;
  height: 100%;
  width: 100%;

}

.channel-show-header-information *{
  color: gray;
}

.channel-show-header-information > *{
  padding: 3px;
}

.channel-show-header-information-channel-name span{
  font-weight: 700;
  font-size: .9rem;
  color: black;

}

.details-button{
  background-color: lightgoldenrodyellow;
  font-size: .82rem;
  display: inline-flex;
  align-items: space-between;
  line-height: 2rem;
  padding: 0px 7px;
  box-sizing: border-box;
  border: 1px solid lightgoldenrodyellow;
  border-radius: 5px;
}

.details-text{
  color: gray
}

.channel-show-header > button:hover{
  background-color: rgb(206, 206, 170);
  color: black;
  font-size: .82rem;
  border: 1px solid rgb(206, 206, 170);
  cursor: pointer;
}



.i-btn{
  font-size: 1.1rem;
  color: gray;
}

.channel-show-header > button:hover span{
  color: black;
}

.selected .i-btn{
  color: black;
}

.selected .details-button{
  color: black;
}

.selected{
  background-color: rgb(206, 206, 170);
  border: 1px solid rgb(206, 206, 170);
  cursor: pointer;
}

.channel-header-details{
  width: 330px;
  position: fixed;
  right: 0px;
  height: calc(100vh - 37px);
  top: 37px;
  box-sizing: border-box;
  background-color: honeydew;
  display: flex;
  flex-direction: column;
  border-left: 1px solid lightgray;
}

.header-details-header{
  display:flex;
  justify-content: space-between;
  width:100%;
  box-sizing: border-box;
  border-bottom: 1px solid gainsboro;
  height: 67px;
  align-items: center;
  padding-right: 13px;
  padding-left: 10px;
}

.header-details-header img{
  padding: 7px;
  background-color: honeydew;
}

.header-details-header button{
  background-color: honeydew;
}

.header-details-header img:hover{
  background-color: lightblue;
  cursor: pointer;
  border: 1px solid lightblue;
  border-radius: 3px;
}

.header-details-header p{
  line-height: 1.3rem;
}

.header-details-header p:first-of-type{
  font-weight: 700;
  font-size: .95rem;
}

.header-details-header p:last-of-type{
  font-weight: 400;
  color: darkgray;
  font-size: .8rem;
}


.channel-header-details-options{
  display:flex;
  justify-content: space-evenly;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid gainsboro;
  height: 100px;
}

.channel-header-details-option{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  font-size: .85rem;
 }

 .channel-header-details-option span{
  color: darkgray;
 }

.c-h-d-o-img{
  width: 37px;
  height: 37px; 
  border: 1px solid lightblue;
  background-color: lightblue;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-h-d-o-img button{
  background-color: honeydew;
}

.c-h-d-o-img button:hover{
  cursor:pointer;
}

.c-h-d-o-img:hover{
  background-color: skyblue;
}

.c-h-d-o-img img{

 
  display: inline-block;
  text-align: center;
}

.header-details-header-info:first-child{
  font-size: .9rem;
  font-weight: 700;
}

.header-details-header-info:last-child{
  font-size: .8rem;
  color: darkgray;
}

.c-h-d-items{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  line-height: 50px;
}

.c-h-d-item{
  display: flex;
  flex-direction: column;
  min-height: 50px;
  width: 100%;
  border-bottom: 1px solid gainsboro;
  box-sizing: border-box;
  padding: 0px 20px 0px 10px;
  font-size: .9rem;
  overflow-y: scroll;
}

.c-h-d-item div{
  display: flex;
  justify-content: space-between;
}

.channel-members-list{
  overflow-y: scroll;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
  padding-bottom: 15px;
}

.channel-members-list-li{
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .9rem;
  font-weight: 600;
}

.channel-details-about{
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-bottom: 15px;
}

.channel-details-about h3{
  color: darkgray;
  font-weight: 500;
  font-size: .8rem;
  height: 20px;
}

.channel-details-about p{
  line-height: 22px;
}

.channel-details-about div{
  box-sizing: border-box;
  background-color: lightgoldenrodyellow;
  border: 1px solid lightgoldenrodyellow;
  border-radius: 3px;
  margin: 1px;
  padding: 10px;
}

.channel-details-about span{
  color: darkgray;
  font-size: .75rem;
}

.channel-details-dropdown-topic{
  display: flex;
  flex-direction: column;
  line-height: 20px;
  justify-content: space-evenly;
}

.channel-details-dropdown-description{
  display: flex;
  flex-direction: column;
  line-height: 20px;
  justify-content: flex-start;
}

.channel-details-dropdown-created-on{
  line-height: 20px;
}

.c-h-d-button{
  display: flex;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid gainsboro;
  box-sizing: border-box;
}

.c-h-d-button button{
  display: flex;
  align-items: space-between;
  background-color: honeydew;
  width: 100%;
  text-align: start;
  padding-left: 10px;
  font-size: .9rem;
}

.c-h-d-button button:hover{
  cursor: pointer;
}

.pins{
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}

.channel-show-header-information-channel-info{
  display:flex;
  align-items: center;
  line-height: 20px;
}

.channel-show-header-information-channel-info button{
  background-color: lightgoldenrodyellow;
  padding: 0px 6px 0px 6px;
  border: 1px solid lightgoldenrodyellow;
}

.channel-show-header-information-channel-info button:hover{
  border: 1px solid lightgray;
  border-radius: 3px;
  cursor: pointer;
}

.channel-show-header-information-channel-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.channel-show-header-information-channel-name span:first-of-type{
  padding-bottom: 2px;
}


.channel-show-header-information-channel-name img:hover{
  cursor: pointer;
}

.channel-show-header-information-channel-info span{
  display:inline-block;
  margin-bottom: 2px;
}

.user-svg{
  display: inline-block;
}

