.splash-body{
  display: flex;
  flex-direction: column;
  align-items: space-between;
  padding: 80px;
  background-color: lightgoldenrodyellow;
}

.splash-header{
  display: flex;
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  background-color: lightgoldenrodyellow;
  position: fixed;
  width: 100vw;
  /* width: calc(100vw - sidebar width)*/
}

.splash-header-resources{
  display:flex;
}

.splash-header-resources label{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  margin: 29px 18px 24px 18px;
  font-weight: 500;

}

.splash-header-resources a{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  margin: 29px 18px 24px 18px;
  font-weight: 500;
  text-decoration: none;
}

.splash-header button{
  background-color: lightblue;
  color: lightgoldenrodyellow;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 700;
  margin: 14px;
  border: 1px solid lightblue;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.splash-header button span{
  font-size: 20px;
}

.splash-top-section{
  display:flex;
  justify-content: space-between;
}

.splash-top-section-left{
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.splash-top-section-left h6{
  line-height: 2rem;
  font-size: .85rem;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0 auto;
}

.splash-top-section-left h1{
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.splash-top-section-left-body{
  font-size: 1.2rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 200;
  line-height: 1.6rem;
  margin: 1rem;
}

.splash-top-section-left button{

  padding: 18px 35px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 14px;
  border: 1px solid lightblue;
  border-radius: 3px;
  display: flex;
  align-items: start;
}

.button-color-one{
  background-color: lightblue;
  color: lightgoldenrodyellow;
}

.button-color-two{
  background-color: lightgoldenrodyellow;
  color: lightblue;
}

.button-flex-splash{
  display: flex;
  align-items: center;
}

.get-started{
  font-size: .85rem;
}
.splash-middle-section{
  display: flex;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.splash-middle-section h1{
  margin: 0 auto;
  font-size: 3rem;
  line-height: 4rem;
  font-weight: 700;
}

.splash-middle-section p{
  margin: 0 auto;
  font-size: 1rem;
  line-height: 3rem;
}

.splash-bottom-section {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  font-size: 1.1em;

}

.splash-bottom-section-subsection{
  margin: 1em;
}

.splash-bottom-section-subsection-title{
  font-weight: 700;
  line-height: 3em;
}

.splash-bottom-section-subsection-body{
  line-height: 1.5em;
}

/* move work from home to the left somehow */
/* fix button and demo user alignment */
/* figure out how to incorporate image stuff */

.splash-header button a{
  text-decoration: none;
  color: lightgoldenrodyellow;
}

.splash-header button{
  margin-right: 100px;
}


