.app-drop-btn{
  background-color: skyblue;
  color: lightgoldenrodyellow;
}

.dm-drop-btn{
  background-color: skyblue;
  color: lightgoldenrodyellow;
}

.channel-drop-btn{
  background-color: skyblue;
  color: lightgoldenrodyellow;
}

.hidden{
  display: none;
}