.sidebar li{
  font-size: 1rem;
  line-height: 1.5rem;
}

.sidebar {
  width: 290px;
  height: calc(100vh - 37px - 66px);
  box-sizing: inherit;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hidden{
  display: none;
}
