.user-info-dropdown{
  z-index: 2;
  background-color: honeydew;
  position: relative;
  top: 32px;
  left: 20px;
  border: 1px solid lightgray;
  border-radius: 7px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 300px;
  padding: 20px 0px;

}

.user-info-dropdown-head{
  display: flex;
  padding: 0px 20px 20px 20px;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.user-info-dropdown-head div{
  line-height: 1.2rem;
}

.user-info-dropdown img{
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.user-info-dropdown p{
  font-size: .8rem;
  color: darkgray;
}

.user-info-dropdown ul{
  display: flex;
  flex-direction: column;
}

.user-info-dropdown li{
  font-size: .9rem;
  line-height: 1.6rem;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.user-info-popout a{
  display: inline-block;
  width:100%;
  height: 100%;
  padding: 0px 25px;
}

.user-info-popout a:hover{
  background-color: skyblue;
  cursor: pointer;
}

.u-i-d-v-p button{
  display: inline-block;
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 0px 25px;
  background-color: honeydew;
}

.user-info-popout button:hover{
  background-color: skyblue;
  cursor: pointer;
}