.channel-show{
  width: calc(100vw - 260px);
  position: fixed;
  left: 260px;
  height: calc(100vh - 37px);
  top: 37px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: lightgoldenrodyellow;
}

.channel-show-part{
  width: calc(100vw - 25vw - 260px);
  position: fixed;
  left: 260px;
  height: calc(100vh - 37px - 68px);
  top: 37px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: lightgoldenrodyellow;
}

.channel-show-header{
  height: 68px;
  background-color: white;
}

.details{
  width: 25vw;
  position: fixed;
  right: 0px;
  height: calc(100vh - 37px);
  top: 37px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: lightgoldenrodyellow;
}