.message-form{
  height: 88px;
  box-sizing: border-box;
  border: 1px solid skyblue;
  border-radius: 5px;
  bottom: 88px;
  width: 96%;
  z-index: 3;
}

.message-form input{
  background-color: #f8f8ff;
  height: 44px;
  width: 100%;
}

.options{
  background-color: honeydew;
  height: 44px;
  width: 100%;
}