.message{
  height: 60px;
  display: flex;
  align-items: center;
}

.message:hover{
  background-color: honeydew;
}

.message-content{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.message-content div{
  padding: 2px 0px;
  font-size: .9rem;
}

.timestamps{
  color: gray;
  font-size: .75rem;
}

.message img{
  border: 1px solid lightgoldenrodyellow;
  border-radius: 3px;
}
