.message{
  min-height: 55px;
  display: flex;
  align-items: center;
  padding-left: 15px;

}

.message:hover{
  background-color: honeydew;
}

.message-content{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.message-content div{
  padding: 4px 0px;
  font-size: .9rem;
}

.timestamps{
  color: gray;
  font-size: .75rem;
}

.message img{
  border: 1px solid lightgoldenrodyellow;
  border-radius: 6px;
  margin-right: 5px;
}

.trunc-message-content{
  line-height: 30px;
  padding-left: 60px;
  font-size: .9rem;
}

.trunc-message-content:hover{
  background-color: honeydew;
}