.message{
  height: 60px;
  display: flex;
}

.message:hover{
  background-color: honeydew;
}

.message-content{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.timestamps{
  color: gray;
  font-size: .75rem;
}
