.message-list{
  height: calc(100vh - 37px - 68px - 128px);
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  background-color: lightgoldenrodyellow;
  padding: 0px 0px 0px 0px;
}

.message-list-list{
  height: 100%;
  width: 100%;
  display:flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
}

.message-list-list li:first-of-type{
  padding-top: 16px;
}
